---
layout: default
title: Podcasts
---
<!-- ===== LASTEST PODCAST (HERO) ===== -->
{% include LatestPodcast.html %}

<main id="main" class="main">

    <!-- ===== PODCAST LIST ===== -->
    <section id="#episodes" class="section-positive">
        <div class="container">
            <!-- ===== SECTION TITLE ===== -->
            <h2 class="title-default">Episodes</h2>
        
            <div class="row">
                                
                {% for post in site.posts offset: 1%}
                <div class="col-sm-12 mb-40">
                    <div class="podcast-card full">
                        <figure class="podcast-image"><a href="{{ post.url | relative_url }}"><img src="{{post.heroImage}}" alt="Seattle" title="Seattle" /></a></figure>
                        <div class="podcast-content">
                            <span class="podcast-date">{{ post.date | date: '%B %d, %Y' }}</span>
                            <h2 class="podcast-title"><a href="{{ post.url | relative_url }}">Episode #{{post.episode}} - {{post.title}}</a></h2>
                            <p class="podcast-excerpt"><a href="{{ post.url | relative_url }}">{{post.excerpt}}</a></p>
                            <ul class="podcast-meta">
                                <li class="item"><a href="#" class="podcast-tag" rel="tag">{{ post.categories | first }}</a></li>
                                <li class="item"><i class="fa fa-clock-o"></i> {{post.runtime}} mins.</li>
                                <li class="item"><a href="{{ post.url | relative_url }}" class="podcast-play"><i class="fa fa-play"></i> Play Episode</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}                
            
            </div>

        </div>
    </section>

    {% include NewsletterSignup.html %}
</main>