<!-- ===== SECTION TITLE ===== -->
<h2 class="title-default">Other Episodes</h2>

<div class="row">

<!-- ===== PODCAST CARD FULL ===== -->
<div class="col-sm-12 mb-40">
    {% for post in site.posts offset: 1 limit: 1%}
        {% include PodcastCard.html cardType="full" showExcerpt=true post=post %}
    {% endfor %}    
</div>

<!-- ===== PODCAST CARD BOXED ===== -->
{% for post in site.posts offset: 2 limit: 2%}
<div class="col-sm-6 mb-40">
    {% include PodcastCard.html cardType="boxed" post=post %}
</div>
{% endfor %}