<!-- ===== SECTION TITLE ===== -->
<h2 class="title-default">Other Episodes</h2>

<div class="row">

<!-- ===== PODCAST CARD FULL ===== -->
<div class="col-sm-12 mb-40">
    {% for post in site.posts offset: 1 limit: 1%}
        <div class="podcast-card full">
            <figure class="podcast-image"><a href="{{ post.url | relative_url }}"><img src="{{post.heroImage}}" alt="Seattle" title="Seattle" /></a></figure>
            <div class="podcast-content">
                <span class="podcast-date">{{ post.date | date: '%B %d, %Y' }}</span>
                <h2 class="podcast-title"><a href="{{ post.url | relative_url }}">Episode #{{post.episode}} - {{post.title}}</a></h2>
                <p class="podcast-excerpt"><a href="{{ post.url | relative_url }}">{{post.excerpt}}</a></p>
                <ul class="podcast-meta">
                    <li class="item"><a href="#" class="podcast-tag" rel="tag">{{ post.categories | first }}</a></li>
                    <li class="item"><i class="fa fa-clock-o"></i> {{post.runtime}} mins.</li>
                    <li class="item"><a href="{{ post.url | relative_url }}" class="podcast-play"><i class="fa fa-play"></i> Play Episode</a></li>
                </ul>
            </div>
        </div>
    {% endfor %}    
</div>

<!-- ===== PODCAST CARD BOXED ===== -->
{% for post in site.posts offset: 2 limit: 4%}
<div class="col-sm-6 mb-40">
    <div class="podcast-card boxed">
        <figure class="podcast-image"><a href="{{ post.url | relative_url }}"><img src="{{post.heroImage}}" alt="Biking" title="Biking" /></a></figure>
        <div class="podcast-content">
            <span class="podcast-date">December 19, 2015</span>
            <h2 class="podcast-title"><a href="{{ post.url | relative_url }}">Episode #{{post.episode}} - {{post.title}}</a></h2>
            <!--<p class="podcast-excerpt"><a href="{{ post.url | relative_url }}">{{post.excerpt}}</a></p>-->
            <ul class="podcast-meta">
                <li class="item"><a href="#" class="podcast-tag" rel="tag">{{ post.categories | first }}</a></li>
                <li class="item"><i class="fa fa-clock-o"></i> {{post.runtime}} mins.</li>
                <li class="item"><a href="{{ post.url | relative_url }}" class="podcast-play"><i class="fa fa-play"></i> Play Episode</a></li>
            </ul>
        </div>
    </div>
</div>
{% endfor %}

<!-- ===== PODCAST CARD BOXED ===== -->
<!--<div class="col-sm-6 mb-40">
    <div class="podcast-card boxed">
        <figure class="podcast-image"><a href="podcast.html"><img src="assets/img/cards/podcast-boxed-thumb2.jpg" alt="Photography" title="Photography" /></a></figure>
        <div class="podcast-content">
            <span class="podcast-date">December 12, 2015</span>
            <h2 class="podcast-title"><a href="podcast.html">Episode #05 - What I learned from photography</a></h2>
            <p class="podcast-excerpt"><a href="podcast.html">This is a boxed podcast layout. Lorem ipsum dolor sit amet, consectetur adipisicing elit...</a></p>
            <ul class="podcast-meta">
                <li class="item"><a href="#" class="podcast-tag" rel="tag">Lifehacks</a></li>
                <li class="item"><i class="fa fa-clock-o"></i> 29 mins.</li>
                <li class="item"><a href="podcast.html" class="podcast-play"><i class="fa fa-play"></i> Play Episode</a></li>
            </ul>
        </div>
    </div>
</div>-->

<!-- ===== PODCAST CARD BOXED ===== -->
<!--<div class="col-sm-6 mb-40">
    <div class="podcast-card boxed">
        <figure class="podcast-image"><a href="podcast.html"><img src="assets/img/cards/podcast-boxed-thumb3.jpg" alt="Soccer" title="Soccer" /></a></figure>
        <div class="podcast-content">
            <span class="podcast-date">December 9, 2015</span>
            <h2 class="podcast-title"><a href="podcast.html">Episode #04 - How we decide to play soccer</a></h2>
            <p class="podcast-excerpt"><a href="podcast.html">This is a boxed podcast layout. Lorem ipsum dolor sit amet, consectetur adipisicing elit...</a></p>
            <ul class="podcast-meta">
                <li class="item"><a href="#" class="podcast-tag" rel="tag">Sports</a></li>
                <li class="item"><i class="fa fa-clock-o"></i> 40 mins.</li>
                <li class="item"><a href="podcast.html" class="podcast-play"><i class="fa fa-play"></i> Play Episode</a></li>
            </ul>
        </div>
    </div>
</div>-->

<!-- ===== PODCAST CARD BOXED ===== -->
<!--<div class="col-sm-6 mb-40">
    <div class="podcast-card boxed">
        <figure class="podcast-image"><a href="podcast.html"><img src="assets/img/cards/podcast-boxed-thumb4.jpg" alt="Music Show" title="Music Show" /></a></figure>
        <div class="podcast-content">
            <span class="podcast-date">November 27, 2015</span>
            <h2 class="podcast-title"><a href="podcast.html">Episode #03 - The best show of our lifes</a></h2>
            <p class="podcast-excerpt"><a href="podcast.html">This is a boxed podcast layout. Lorem ipsum dolor sit amet, consectetur adipisicing elit...</a></p>
            <ul class="podcast-meta">
                <li class="item"><a href="#" class="podcast-tag" rel="tag">Lifestyle</a></li>
                <li class="item"><i class="fa fa-clock-o"></i> 18 mins.</li>
                <li class="item"><a href="podcast.html" class="podcast-play"><i class="fa fa-play"></i> Play Episode</a></li>
            </ul>
        </div>
    </div>
</div>-->