---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
	{% include head.html %}	

	<body itemscope itemtype="http://schema.org/WebSite">
		
		<!-- ===== HEADER ===== -->
		<header class="header absolute" itemscope itemtype="http://schema.org/Organization">
			<div class="container">
			
				<!-- ===== LOGO ===== -->
				<h1 class="logo"><a href="/"><img itemprop="logo" src="/assets/img/logo.png" alt="{{ site.title }}" title="{{ site.title }}" /></a></h1>
				
				<!-- ===== NAVIGATION ===== -->
				<nav class="navigation">
					<!-- ===== MENU ===== -->
					<ul class="menu">
						<!--<li class="menuitem active"><a href="/">Home</a></li>
						<li class="menuitem"><a href="/podcast">Podcast</a></li>
						<li class="menuitem"><a href="/about-us.html">About Us</a></li>
						<li class="menuitem"><a href="/contact.html">Contact</a></li>-->
						{% for nav in site.topNavigation %}
							{% assign css = 'menuitem' %}
							{% if page.url == nav.url%}
								{% assign css = 'menuitem active' %}
							{% endif %}

							<li class="{{css}}"><a href="{{nav.url}}">{{nav.text}}</a></li>
						{% endfor %}						
					</ul>
					<!-- ===== HAMBURGUER ICON ===== -->
					<a href="#" class="btn-hamburguer-menu"><i class="fa fa-bars"></i></a>
				</nav>
				
			</div>
		</header>
		
		<!-- ===== MAIN ===== -->
		{{ content }}
		
		{% include footer.html %}
		<!--Fonts and CSS-->
		<link href="/assets/css/site-min.css" rel="stylesheet" />		
		<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>	
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
		<!--Scripts -->
		<script src="/assets/js/site-min.js"></script>
	</body>

</html>