---
layout: default
---
<main id="main" class="main">
    
    <!-- ===== PAGE HEADER ===== -->
    <header class="page-header-podcast" style="background-image: url({{ page.heroImage }})">
        <div class="page-header-inner">
            <div class="container">

                <!-- ===== BREADCRUMB ===== -->
                <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement"><a href="/">Home</a></li>
                    <li itemprop="itemListElement"><a href="/podcasts">Podcasts</a></li>
                </ol>

                <!-- ===== PAGE HEADER CONTENT ===== -->
                <div class="page-header-content text-center">
                    <h2>Episode #{{ page.episode }} - {{ page.title }}</h2>
                    <p>{{page.excerpt}}</p>
                </div>

            </div>
        </div>
    </header>
    
    <!-- ===== PODCAST PLAYER ===== -->
    <div class="podcast-player">
        <div class="podcast-player-inner">
            <div class="container">
                <audio src="{{ page.podcastaudio }}"></audio>
            </div>
        </div>
    </div>
    
    <!-- ===== PODCAST META ===== -->
    <div class="podcast-meta-element">
        <span class="podcast-meta-item"><i class="fa fa-calendar"></i> {{ page.date | date: '%B %d, %Y' }}</span>
        <span class="podcast-meta-item"><i class="fa fa-clock-o"></i> {{ page.runtime }} minutes</span>
        <a class="podcast-meta-item" href="#"><i class="fa fa-tag"></i> {{ page.categories | first }}</a>
        <a class="podcast-meta-item" href="{{ page.podcastaudio }}"><i class="fa fa-download"></i> Download (MP3)</a>
    </div>        
    
    <!-- ===== SINGLE PAGE CONTENT ===== -->
    <div class="section-negative">
        <div class="container">
            
            <div class="row mt-70 mb-50">
                
                <!-- ===== PODCAST TEXT CONTENT ===== -->
                <div class="col-md-8 mb-50">
                    
                    <!-- ===== PAGE MAIN CONTENT ===== -->
                    <div class="page-content">
                        {{ content }}
                    </div>
                    
                    <!-- ===== HR ===== -->
                    <hr />
                    
                    <!-- ===== PREV AND NEXT ===== -->
                    <div class="page-pagination">
                        <!-- ===== PREV ===== -->
                        {% if page.previous.url %}
                            <a href="{{ page.previous.url }}" class="page-pagination-prev">
                                <i class="fa fa-long-arrow-left"></i>
                                <span>{{ page.previous.date | date: '%B %d, %Y' }}</span>
                                <p>Episode #{{ page.previous.episode }} - {{ page.previous.title }}</p>
                            </a>
                        {% endif %}
                        <!-- ===== NEXT ===== -->
                         {% if page.next.url %}
                            <a href="{{ page.next.url }}" class="page-pagination-next">
                                <i class="fa fa-long-arrow-right"></i>
                                <span>{{ page.next.date | date: '%B %d, %Y' }}</span>
                                <p>Episode #{{ page.next.episode }} - {{ page.next.title }}</p>
                            </a>
                        {% endif %}
                    </div>
                    
                    <!-- ===== HR ===== -->
                    <hr />
                    
                                    
                </div>
                
                <!-- ===== SIDEBAR ===== -->
                <div class="col-md-4">
                
                    {% include PostSidebar.html %}
                    
                </div>
                
            </div>
            
        </div>
    </div>
    
</main>